.page-sidebar-wrapper
  .page-sidebar.navbar-collapse.collapse
    //- SIDEBAR MENU
    ul.page-sidebar-menu.page-header-fixed(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200', style='padding-top: 20px')
      //- SIDEBAR TOGGLER BUTTON
      li.sidebar-toggler-wrapper.hide
        .sidebar-toggler
          span
      li.heading
        h3.uppercase Sales
      li.nav-item(class= pageId == "tport_revenue" ? "active" : "")
        a.nav-link.nav-toggle(href='/tport/revenue')
          i.icon-flag
          span.title GDS 예약매출
      li.heading
        h3.uppercase Payment
      li.nav-item(class= pageId == "tport_payment_channel" ? "active" : "")
        a.nav-link.nav-toggle(href='/tport/payment/channel')
          i.icon-cloud-upload
          span.title 공급사 정산
      li.nav-item(class= pageId == "tport_payment_seller" ? "active" : "")
        a.nav-link.nav-toggle(href='/tport/payment/seller')
          i.icon-cloud-download
          span.title 숙소 정산
      li.heading
        h3.uppercase Partner
      li.nav-item(class= pageId == "tport_vendors" ? "active" : "")
        a.nav-link.nav-toggle(href='/tport/vendors')
          i.icon-basket-loaded
          span.title 공급사 관리
      li.nav-item(class= pageId == "tport_channels" ? "active" : "")
        a.nav-link.nav-toggle(href='/tport/channels')
          i.icon-globe
          span.title 판매사 관리
      li.heading
        h3.uppercase ETC
      li.nav-item(class= pageId == "tport_members" ? "active" : "")
        a.nav-link.nav-toggle(href='/tport/members')
          i.icon-users
          span.title 직원 관리

          //- span.arrow
        //- ul.sub-menu
          li.nav-item.active
            a.nav-link(href='app_todo')
              i.icon-check
              span.title ToDo
              span.selected
