include includes/header.pug

//- PAGE LEVEL PLUGINS
link(href='/assets/global/plugins/datatables/datatables.min.css', rel='stylesheet', type='text/css')
link(href='/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css', rel='stylesheet', type='text/css')
//- THEME GLOBAL STYLES
link#style_components(href='/assets/global/css/components.min.css', rel='stylesheet', type='text/css')
link(href='/assets/global/css/plugins.min.css', rel='stylesheet', type='text/css')
//- THEME LAYOUT STYLES
link(href='/assets/layouts/layout/css/layout.min.css', rel='stylesheet', type='text/css')
link#style_color(href='/assets/layouts/layout/css/themes/darkblue.min.css', rel='stylesheet', type='text/css')
link(href='/assets/layouts/layout/css/custom.min.css', rel='stylesheet', type='text/css')
link(rel='shortcut icon', href='/images/favicon.png')

include includes/body_top.pug
include includes/left_sidebar.pug

//- CONTENT
.page-content-wrapper
  //- CONTENT BODY
  .page-content
    //-- PAGE TITLE
    h1.page-title
      | 직원관리
      //- small ZARI GDS를 통해 판매된 예약 내역입니다
    .row
      .col-md-12
        //- LIST TABLE PORTLET
        .portlet.light.bordered
          .portlet-title
            .caption.font-dark
              i.icon-users.font-dark
              span.caption-subject 18건의 직원 리스트를 불러왔습니다.
            .right.text-right
              button.btn.btn-success.sbold(data-toggle='modal', href='#add_member')
                | 직원추가
                i.fa.fa-plus-circle
          .portlet-body
            table#member_list.table.table-striped.table-bordered.table-hover
              thead
                tr
                  th.text-center 직원명
                  th.text-center 이메일 아이디
                  th.text-center 권한
                  th.text-center 관리
              tbody
                tr
                  td 한성환
                  td sean.han@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 노재원
                  td jaewon@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 김남환
                  td kay@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 정인혁
                  td edon@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 우창하
                  td jeff.woo@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 이진혁
                  td jin@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 원경묵
                  td jade.won@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 안주성
                  td jay.ahn@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 조영수
                  td damon.cho@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 김은총
                  td smile@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 장윤정
                  td jessica.jang@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 방혜선
                  td sunny.bang@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 노경표
                  td steve.noh@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 최유진
                  td chloe@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 최상민
                  td peter.choi@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 김지호
                  td jiho@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 김학범
                  td hans@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o
                tr
                  td 오현석
                  td kevin.oh@tport.io
                  td 슈퍼관리자
                  td
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-pencil
                      |   수정
                    button.btn.btn-default.btn-sm(type='button')
                      i.fa.fa-trash-o

//- 직원추가 Modal
#add_member.modal.fade(tabindex='-1', role='basic', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true')
        h4.modal-title 직원 추가
      .modal-body

      .modal-footer
        button.btn.dark.btn-outline(type='button', data-dismiss='modal') 취소
        button.btn.green(type='button') 추가

include includes/footer.pug

//- PAGE LEVEL PLUGINS
script(src='/assets/global/scripts/datatable.js', type='text/javascript')
script(src='/assets/global/plugins/datatables/datatables.min.js', type='text/javascript')
script(src='/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js', type='text/javascript')
script(src='/assets/global/plugins/jquery-ui/jquery-ui.min.js', type='text/javascript')
//- THEME GLOBAL SCRIPTS
script(src='/assets/global/scripts/app.min.js', type='text/javascript')
//- PAGE LEVEL SCRIPTS
script(src='/assets/pages/scripts/table-datatables-gds.js', type='text/javascript')
//- THEME LAYOUT SCRIPTS
script(src='/assets/layouts/layout/scripts/layout.min.js', type='text/javascript')
script(src='/assets/layouts/global/scripts/quick-sidebar.min.js', type='text/javascript')
script(src='/assets/layouts/global/scripts/quick-nav.min.js', type='text/javascript')

script.
  //- var UIModals = function () {
  //-     var handleModals = function () {
  //-         $("#draggable").draggable({
  //-             handle: ".modal-header"
  //-         });
  //-     }
  //-     return {
  //-         //main function to initiate the module
  //-         init: function () {
  //-             handleModals();
  //-         }
  //-     };
  //- }();
  //-
  //- jQuery(document).ready(function() {
  //-    UIModals.init();
  //- });
