/* Logo */
.logo a, .logo a:hover{
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
}
.logo a span{
  color: #ea3f41;
}
.page-logo a, .page-logo a:hover{
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 11px;
}
.page-logo a span{
  color: #ea3f41;
}

/* Datatable Customizing */
table.dataTable tbody td {
  vertical-align: middle;
}
.table-scrollable>.table-bordered>thead>tr:last-child>th, .table.table-bordered thead>tr>th {
  text-align: center;
}
.text-line-through{
  text-decoration: line-through;
}
table.dataTable .font-small{
  font-size: 11px;
}

/* Table th style */
.info-table th{
  background-color: #f5f5f5;
  text-align: center;
  font-weight: normal;
  vertical-align: middle !important;
}

/* Icon padding in buttons */
button i{
  padding: 0 2px;
}

/* Counterup small text */
.dashboard-stat .number .text-small{
  font-size: 18px;
  margin-left: 4px;
}
/* Counterup box padding */
.dashboard-stat{
  padding-bottom: 17px;
}

/* Text sppliter */
.sppliter:before{
  content: "|";
  padding: 0 10px;
  color: #e7e7e7;
}
