/* Logo */
.logo a, .logo a:hover{
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
}
.logo a span{
  color: #ea3f41;
}
.page-logo a, .page-logo a:hover{
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 11px;
  min-width: 200px;
}
.page-logo a span{
  color: #ea3f41;
}

/* Datatable Customizing */
table.dataTable tbody td {
  vertical-align: middle;
}
.table-scrollable>.table-bordered>thead>tr:last-child>th, .table.table-bordered thead>tr>th {
  text-align: center;
}
.text-line-through{
  text-decoration: line-through;
}
table .font-small{
  font-size: 11px;
}

/* Table th style */
.info-table th{
  background-color: #f5f5f5;
  text-align: center;
  font-weight: normal;
  vertical-align: middle !important;
}

/* Icon padding in buttons */
button i{
  padding: 0 2px;
}

/* Counterup small text */
.dashboard-stat .number .text-small{
  font-size: 18px;
  margin-left: 4px;
}
/* Counterup box padding */
.dashboard-stat{
  padding-bottom: 17px;
}

/* Text sppliter */
.sppliter:before{
  content: "|";
  padding: 0 10px;
  color: #e7e7e7;
}

.no-input .form-group .value{
  padding-top: 9px;
}

/* Left Side Bar Support */
ul.page-sidebar-menu li.support{
  background-color: #3E4857;
  color: #b0b3b8;
  padding: 20px 0;
  margin: 18px;
  text-align: center;
}
ul.page-sidebar-menu li.support h4,
ul.page-sidebar-menu li.support p{
  padding: 4px;
  margin: 0;
}

/* Sidebar Info hidden when closed */
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li.support {
    display: none;
}

/* btn-ouline boder */
.btn.default:not(.btn-outline) {
  border: 1px solid #c2cad8 !important;
}

/* Datatable head filters */
.portlet-title{
  position: relative;
}
.portlet-title .table_filters{
  position: absolute;
  top: 67px;
  left: 175px;
  z-index: 1;
}
.portlet-title .table_filters select.form-control{
  padding: 3px 10px 5px 10px;
  height: 30px;
}
@media screen and (max-width: 767px){
  .portlet-title .table_filters{
    position: absolute;
    top:57px;
    left:0;
}
